*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
}

header {
  justify-content: space-between;
  padding: 0px 3rem;
  font-weight: 700;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #ffff;
  display: flex;
}

.header-profile {
  align-items: center;
  display: flex;
}

.header-profile .avatar-img {
  height: 3.3rem;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
  width: 3.3rem;
}
  
.header-profile > span {
  text-transform: uppercase;
}
  
.img-profile{
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

nav > ul {
  display: flex;
  margin-left: 170%; /*SÓ FUNCIONOU ASSIM*/
}
  
nav > ul a {
  display: block;
  padding: 35px 20px;
  transition: color 0.2s;
  text-transform: uppercase;
}
  
nav > ul a:hover {
  color: #ae4e16;
}

.section {
  padding: 10rem 5rem;
}
  
.section-home {
  background-position: center;
  padding-top: 16.5rem;
  padding-bottom: 12rem;
  align-items: center;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 50px;
  text-align: center;
  color: white;
  background: rgb(234, 142, 103);
}

.section-home h1 {
  text-transform: uppercase;
}

.section-home > p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 0px 50px;
  color: #fff;
}
  
.section-home .btn {
  color: black;
  padding: 1.4rem 5rem;
  font-size: 1.1rem;
  background-color: white;
}

.subtitle {
  text-align: center;
  color: #777;
  font-size: 1.4rem;
  font-weight: 500;
  margin: auto;
  line-height: 1.6;
  text-align: center;
  display: block;
  margin: 0px 10rem; 
}
  
.paragraph {
  color: grey;
  line-height: 1.7;
  font-size: 1.2rem;
  text-align: justify;
 }
  
h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
  
h2::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 2rem;
  background: #ae4e16;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

h3 {
  font-weight: 700;
  font-size: 1.8rem;
}
  
h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn {
  color: #fff;
  padding: 1.2rem 3.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  background: #ae4e16;
}
  
.btn:hover {
  transform: translateY(-5px);
}

/*section about me*/
.section-about-me {
  display: block;
  text-align: center;
  background-color: #f7f7f7;
}
  
.section-about-me-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 60px;
  column-gap: 60px;
  text-align: initial;
  margin-top: 70px;
}
  
.section-about-me-content h3 {
  margin-bottom: 30px;
}
  
.section-about-me-content ul {
  display: flex;
  flex-wrap: wrap;
}
  
.section-about-me-content ul > li {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

/*section projects*/
.section-projects ul {
  margin-top: 100px;
}

.section-projects > ul li {
  display: grid;
  grid-template-columns: 1fr 40%;
  -moz-column-gap: 50px;
  margin-bottom: 2px;
  column-gap: 50px;
}

.section-projects .project-content {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section-projects ul li + li {
  margin-top: 50px;
}
  
  /*section contact*/
.section-contact {
  background-position: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #ae4e16, rgb(234, 142, 103)), url(../assets/common-bg.svg);
}
  
.section-contact > h2,
.section-contact .subtitle {
  color: #fff;
}

.section-contact > h2::after {
  background: #fff;
}
  
.section-contact > form {
  background: white;
  padding: 3rem;
  border-radius: 5px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  margin: 0px 10rem;
  margin-top: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
/*formulario*/
form > div {
  display: flex;
  flex-direction: column;
}

form label {
  color: #333;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
}

form button {
  align-self: flex-end;
}
  
form input,
textarea {
  color: #333;
  font-size: 1.1rem;
  padding: 1.6rem;
  border: 1px solid #ebebeb;
  letter-spacing: 0px;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}

textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  resize: none;
}
  
button {
  outline: inherit;
  border: none;
}
  
  
/* footer */
footer {
  background: #2f2e2e;
  color: #fff;
  padding: 0px 6rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.footer-top .footer-top-content {
  width: 40%;
}

.footer-top h4 {
  margin-bottom: 1.6rem;
}

.footer-top p {
  color: #eee;
  font-size: 0.9rem;
  line-height: 1.7;
}

.footer-top i {
  font-size: 1.6rem;
  padding: 0rem 5px;
}

.footer-bottom {
  border-top: 1px solid #444;
  display: flex;
  justify-content: center;
  padding: 2.6rem 0;
  font-size: 0.7rem;
}

.footer-bottom strong {
  text-decoration: underline;
}
  
  
  